<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>

<ul>
    {% for relPath, absUrl in children %}
        <li><a href="{{ relPath }}">{{ relPath }}</a></li>
    {% endfor %}
</ul>

</body>
</html>
