html {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.4;
}
a {
  color: #00969b;
  text-decoration: none;
}
a:hover {
  color: #007d82;
  text-decoration: underline;
}
body {
  margin: 2rem;
}
pre {
  font-family: monospace;
  background: #fafafa;
  padding: 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
}
.two-col {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: calc(80vw + 4rem);
  margin: 0 auto;
}
.two-col fieldset {
  margin: 0;
  width: calc(50% - 5rem);
}
table.tbl-repos {
  width: 100%;
}
tr td {
  padding: 0.3rem 0;
}
tr td:not(tr:first-of-type td) {
  border-top: 1px solid #ccc;
}
@media (max-width: 600px) {
  .two-col fieldset {
    width: 100%;
  }
}
fieldset {
  background: #f0f0f0;
  border: 0 solid transparent;
  padding: 2rem 2rem 1rem;
  border-radius: 0.5rem;
  max-width: 80vw;
  margin: 1rem auto;
}
legend {
  position: relative;
  font-weight: bold;
  font-size: 1.4rem;
  display: block;
  top: 3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  border-bottom: 4px solid #82c459;
}
.fs-notes table tbody strong {
  color: #de447a;
}
ul {
  list-style: none;
  padding: 0;
}
ul strong em {
  font-style: inherit;
  background-color: #64a13f;
  padding: 2px 6px;
  border-radius: 2px;
  margin: 0 5px 3px 0;
  display: inline-block;
  color: #fff;
}
ul strong em a {
  color: #fff;  
}

div.navbar, div.footer {
  text-align: center;
}
