{% extends 'base.html.twig' %}

{% block title %}Downloads{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    <fieldset class="fs-autobuild">
        <legend>Autobuild</legend>

        {{ include ('CiviDistManagerBundle:Check:disclaimer.html.twig') }}
    </fieldset>

    <fieldset class="fs-browse">
        <legend>Browse: <code>{{ targetBranch }}</code></legend>

        <ul>
            {% for folder in folders %}
                <li><a href="{{ folder }}/">{{ folder }}/</a></li>
            {% endfor %}
        </ul>
    </fieldset>

{% endblock %}
